*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .wrapper{
    height: 100vh;
    width: 100vw;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(14,11,74,1) 100%); 
  }
  .tit{
    text-align: center;
  }
  .container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
  }
  .container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
  }
  .container input{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    outline: 0;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
  }
  .container button{
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    background-color: orangered;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-weight: 500;
    margin: 15px 0;
  }
  .container button:hover{
    background-color: green;
    transition: 0.5s;
    
  }
  #imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }
  #imgBox img{
    width: 100%;
    padding: 10%;
  }
  #imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid black;
  }